@import "bootstrap";

body {
  background-color: ivory;
  padding-left: 15px;
}

.header{
  padding-top: 20px;
  text-align:center;
}

.title{
  font-size: large;
}

.comentarios{
  padding-top: 40px;
}

ul{
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 15px;
}

li{
  line-height: 1.5rem;
}
